.z-check-card--bordered {
  border: 1px solid #d9d9d9;
}

.z-check-card {
  position: relative;
  display: inline-block;
  width: 320px;
  font-size: 14px;
  border-radius: 6px;
  color: rgba(42, 46, 54, 0.88);
  background-color: #fff;
  transition: all 0.3s;
  margin-inline-end: 16px;
  margin-block-end: 16px;
  line-height: 1.5714285714285714;
  vertical-align: top;
  cursor: pointer;

  &:last-child {
    margin-inline-end: 0;
  }

  .z-check-card__content {
    display: flex;
    padding-inline: 12px;
    padding-block: 16px;

    .z-check-card__avatar {
      padding-inline-end: 8px;
    }

    .z-check-card__detail {
      overflow: hidden;
      width: 100%;

      >div:not(:last-child) {
        margin-block-end: 4px;
      }

      .z-check-card__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .z-check-card__title {
          overflow: hidden;
          font-size: 14px;
          font-weight: 500;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: rgba(42, 46, 54, 0.88);
        }
      }

      .z-check-card__description {
        color: rgba(42, 46, 54, 0.65);
      }
    }
  }

  .z-check-card__avatar-header {
    display: flex;
    align-items: center;
  }

  .z-check-card__cover {
    padding-inline: 4px;
    padding-block: 4px;
  }

  &:not(.z-check-card--disabled):hover {
    border-color: #1677FF;
  }
}

.z-check-card--checked {
  border-color: #1677FF;
  background-color: #b0d0ff;

  &::after {
    position: absolute;
    inset-block-start: 2px;
    inset-inline-end: 2px;
    width: 0;
    height: 0;
    border: 6px solid #1677FF;
    border-block-end: 6px solid transparent;
    border-inline-start: 6px solid transparent;
    border-start-end-radius: 2px;
    content: '';
  }
}

.z-check-card--disabled {
  border-color: #d9d9d9;
  background-color: rgba(42, 46, 54, 0.04);
  cursor: not-allowed;

  .z-check-card__content {
    .z-check-card__detail {
      .z-check-card__description {
        color: rgba(42, 46, 54, 0.25);
      }

      .z-check-card__header {
        .z-check-card__title {
          color: rgba(42, 46, 54, 0.25);
        }
      }
    }
  }

  .z-check-card__avatar {
    opacity: 0.25;
  }
}

.z-check-card--lg {
  width: 440px;
}

.z-check-card--sm {
  width: 212px;
}
