.z-check-card--bordered {
  border: 1px solid var(--el-border-color-dark);
}

.z-check-card {
  position: relative;
  display: inline-block;
  width: 320px;
  margin-block-end: 16px;
  margin-inline-end: 16px;
  font-size: 14px;
  line-height: 1.57;
  color: var(--el-text-color-primary);
  vertical-align: top;
  cursor: pointer;
  background-color: #fff;
  border-radius: 6px;
  /* stylelint-disable-next-line declaration-property-value-disallowed-list */
  transition: all 0.3s;

  &:last-child {
    margin-inline-end: 0;
  }

  .z-check-card__content {
    display: flex;
    padding-block: 16px;
    padding-inline: 12px;

    .z-check-card__avatar {
      padding-inline-end: 8px;
    }

    .z-check-card__detail {
      width: 100%;
      overflow: hidden;

      > div:not(:last-child) {
        margin-block-end: 4px;
      }

      .z-check-card__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .z-check-card__title {
          overflow: hidden;
          font-size: 14px;
          font-weight: 500;
          color: var(--el-text-color-primary);
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .z-check-card__description {
        color: var(--el-text-color-regular);
      }
    }
  }

  .z-check-card__avatar-header {
    display: flex;
    align-items: center;
  }

  .z-check-card__cover {
    padding-block: 4px;
    padding-inline: 4px;
  }

  &:not(.z-check-card--disabled):hover {
    border-color: var(--el-color-primary);
  }
}

.z-check-card--checked {
  background-color: #b0d0ff;
  border-color: var(--el-color-primary);

  &::after {
    position: absolute;
    inset-block-start: 2px;
    inset-inline-end: 2px;
    width: 0;
    height: 0;
    content: '';
    border: 6px solid var(--el-color-primary);
    border-block-end: 6px solid transparent;
    border-inline-start: 6px solid transparent;
    border-start-end-radius: 2px;
  }
}

.z-check-card--disabled {
  cursor: not-allowed;
  background-color: var(--el-disabled-bg-color);
  border-color: var(--el-border-color-dark);

  .z-check-card__content {
    .z-check-card__detail {
      .z-check-card__description {
        color: var(--el-disabled-text-color);
        -webkit-text-fill-color: var(--el-disabled-text-color);
      }

      .z-check-card__header {
        .z-check-card__title {
          color: var(--el-disabled-text-color);
          -webkit-text-fill-color: var(--el-disabled-text-color);
        }
      }
    }
  }

  .z-check-card__avatar {
    opacity: 25%;
  }
}

.z-check-card--lg {
  width: 440px;
}

.z-check-card--sm {
  width: 212px;
}
