.c-form-item {
  .el-form-item__content {
    .el-input,
    .el-cascader,
    .el-select,
    .el-date-editor {
      width: 100%;
    }
  }

  .c-form-item-label__icon {
    transform: translate(0, 2px);
    font-size: 14px;
    cursor: help;
  }

  .c-form-item__extra {
    clear: both;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
    transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    line-height: 1.5715;
  }
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.mb-4 {
  margin-bottom: 16px;
}

.c-table-pro-btn__col {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}


// .c-button-col__container {
//   padding-top: 1px;
// }

.c-icon__arrow {
  transform: rotate(180deg);
  transform-origin: center center;
}

.c-form-operation__container {
  display: flex;
}

.c-toggle__container {
  cursor: pointer;
  font-size: 14px;

  .c-toggle__icon {
    color: #409eff;
    transition: transform 0.2s;
  }

  .c-toggle__button--small {
    padding: 5px 0 11px 10px;
  }

  .c-toggle__button--default {
    padding: 8px 0 15px 10px;
  }

  .c-toggle__button--large {
    padding: 12px 0 19px 10px;
  }

  .c-toggle__button {
    .el-icon {
      margin-left: 2px;
    }

    &:hover {
      color: #409eff;
    }

    &:active {
      color: #409eff;
    }

    &:focus {
      color: #409eff;
    }
  }
}
