.z-tag-select__container {
  position: relative;
  display: flex;
  max-height: 32px;
  padding-right: 38px;
  overflow: hidden;
  line-height: 32px;

  .z-tag-select__tag {
    cursor: pointer;
  }

  .z-tag-select__tag--inactive {
    color: var(--el-text-color-regular);
    background-color: #fff;
    border: 1px solid transparent;
  }

  .z-tag-select__tag--last {
    margin-right: 16px;
  }

  .z-tag-select__title {
    display: inline-block;
    flex-shrink: 0;
    margin-right: 16px;
  }

  .z-tag-select--expand {
    position: absolute;
    top: 1px;
    right: 0;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 34px;
    color: var(--el-color-primary);
    cursor: pointer;
  }

  .z-tag-select__icon {
    margin-left: 2px;
    color: var(--el-color-primary);
    transition: transform 0.2s;
  }

  .z-tag-select__arrow {
    transform: rotate(180deg);
    transform-origin: center center;
  }
}

.z-tag-select__container--more {
  max-height: 200px;
}
