.xl-button {
  padding: 12px 20px;
  font-weight: 500;
  border: 1px solid;
  border-radius: 4px;
  color: #fff;
  outline: none;
  transition: all 0.3s;
  cursor: pointer;
}

.xl-button:hover {
  opacity: 0.8;
}

.xl-button:active {
  opacity: 1;
}

.xl-button + .xl-button {
  margin-left: 10px;
}

.xl-button--default {
  border-color: #dcdfe6;
  color: #606266;
  background: #fff;
}

.xl-button--primary {
  border-color: #1890ff;
  background: #1890ff;
}

.xl-button--success {
  border-color: #52c41a;
  background: #52c41a;
}

.xl-button--info {
  border-color: #909399;
  background: #909399;
}

.xl-button--warning {
  border-color: #faad14;
  background: #faad14;
}

.xl-button--danger {
  border-color: #f5222d;
  background: #f5222d;
}
